.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
.env
.idea
.vscode
Dockerfile
docker-compose.yml
README.md
setup.py
MANIFEST.in
pyproject.toml
test*
temp*
downloads/*.mp4
downloads/*.mp3
logs/*.log
